<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Thadd Selden</string>
	<key>CFBundleDisplayName</key>
	<string>Instapaper Auto Archive</string>
	<key>CFBundleIdentifier</key>
	<string>net.thaddeus.instapaperautoarchive</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://*/starred</string>
			<string>http://*/archive</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>auto-archive.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery-1.4.3.min.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Automatically archives articles on Instapaper when you read them</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.instapaper.com</string>
				<string>instapaper.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://thaddeus.net/workspace/files/safari-extensions/update.plist</string>
	<key>Website</key>
	<string>https://github.com/thadd/Instapaper-Auto-Archive</string>
</dict>
</plist>
